@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

.btn-color{
    background-color: #0e1c36;
    color: #fff;
  }
  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  .cardbody-color{
    background-color: #ebf2fa;
  }
  a{
    text-decoration: none;
  }
  *{
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .bigfont{
    font-size: 40px;
  }
  .slogan{
    font-size: 20px;
  }